@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #121212;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 0.875rem;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #121212;
    display: inline-block;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px;
}

/* header */
header {
    width: 300px;
    height: 100vh;
    padding: 40px 0 0 45px;
    position: fixed;
    top: 0;
    overflow-y: auto;
}

.header-logo {
    width: 200px;
    margin-bottom: 40px;
}

.header-list {
    margin-bottom: 60px;
}

.header-list li {
    padding: 8px 0;
}

.sns-list li {
    padding: 8px 0;
}

/* main */

.shift-x {
    margin-left: 300px;
}

/* video */
.video {
    height: 100vh;
}

.video-bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
    vertical-align: bottom;
}

/* projects */

.projects {
    color: white;
}
.projects-title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.75rem;
    align-items: center;
}
.projects-title::before, .projects-title::after{
    content: "";
    border-top: solid 1px;
    width: 28%;
}
.projects ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}